<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Editorial:</b>
  <%= @issue.editorial %>
</p>

<p>
  <b>Newspaper:</b>
  <%= @issue.newspaper_id %>
</p>

<p>
  <b>Slug:</b>
  <%= @issue.slug %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
